{% load static %}
<html>
    <head>
        <title>Seritan Blogi</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">    
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Heebo|Shadows+Into+Light" rel="stylesheet">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Seritan Blogi</a></h1>
            <img id= "kukka" src="https://images.unsplash.com/photo-1533299710044-0586991c5d8d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=666e5737adaf002f3613679c35e1d31b&auto=format&fit=crop&w=1190&q=80">

        </div>
            {% for post in posts %}
            <div class="post">
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
